{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-es2015-modules-commonjs",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
